In [2]:
#instaling libraries
import matplotlib as mt
import pandas as pd
import numpy as np

In [3]:
#show dataset bureau_balance
df_bureau_balance = pd.read_csv("../datasets/bureau_balance.csv")
print(df_bureau_balance)

# df_bureau_balance.head()
### mostrar estatisticas do dataframe
# df_bureau_balance.describe()

          SK_ID_BUREAU  MONTHS_BALANCE STATUS
0              5715448               0      C
1              5715448              -1      C
2              5715448              -2      C
3              5715448              -3      C
4              5715448              -4      C
...                ...             ...    ...
27299920       5041336             -47      X
27299921       5041336             -48      X
27299922       5041336             -49      X
27299923       5041336             -50      X
27299924       5041336             -51      X

[27299925 rows x 3 columns]

In [4]:
#show dataset bureau
df_bureau = pd.read_csv("../datasets/bureau.csv")
print(df_bureau)
# df_bureau.head()

         SK_ID_CURR  SK_ID_BUREAU CREDIT_ACTIVE CREDIT_CURRENCY  DAYS_CREDIT  \
0            215354       5714462        Closed      currency 1         -497
1            215354       5714463        Active      currency 1         -208
2            215354       5714464        Active      currency 1         -203
3            215354       5714465        Active      currency 1         -203
4            215354       5714466        Active      currency 1         -629
...             ...           ...           ...             ...          ...
1716423      259355       5057750        Active      currency 1          -44
1716424      100044       5057754        Closed      currency 1        -2648
1716425      100044       5057762        Closed      currency 1        -1809
1716426      246829       5057770        Closed      currency 1        -1878
1716427      246829       5057778        Closed      currency 1         -463

         CREDIT_DAY_OVERDUE  DAYS_CREDIT_ENDDATE  DAYS_ENDDATE_FACT  \
0                         0               -153.0             -153.0
1                         0               1075.0                NaN
2                         0                528.0                NaN
3                         0                  NaN                NaN
4                         0               1197.0                NaN
...                     ...                  ...                ...
1716423                   0                -30.0                NaN
1716424                   0              -2433.0            -2493.0
1716425                   0              -1628.0             -970.0
1716426                   0              -1513.0            -1513.0
1716427                   0                  NaN             -387.0

         AMT_CREDIT_MAX_OVERDUE  CNT_CREDIT_PROLONG  AMT_CREDIT_SUM  \
0                           NaN                   0        91323.00
1                           NaN                   0       225000.00
2                           NaN                   0       464323.50
3                           NaN                   0        90000.00
4                       77674.5                   0      2700000.00
...                         ...                 ...             ...
1716423                     0.0                   0        11250.00
1716424                  5476.5                   0        38130.84
1716425                     NaN                   0        15570.00
1716426                     NaN                   0        36000.00
1716427                     NaN                   0        22500.00

         AMT_CREDIT_SUM_DEBT  AMT_CREDIT_SUM_LIMIT  AMT_CREDIT_SUM_OVERDUE  \
0                        0.0                   NaN                     0.0
1                   171342.0                   NaN                     0.0
2                        NaN                   NaN                     0.0
3                        NaN                   NaN                     0.0
4                        NaN                   NaN                     0.0
...                      ...                   ...                     ...
1716423              11250.0                   0.0                     0.0
1716424                  0.0                   0.0                     0.0
1716425                  NaN                   NaN                     0.0
1716426                  0.0                   0.0                     0.0
1716427                  0.0                   NaN                     0.0

             CREDIT_TYPE  DAYS_CREDIT_UPDATE  AMT_ANNUITY
0        Consumer credit                -131          NaN
1            Credit card                 -20          NaN
2        Consumer credit                 -16          NaN
3            Credit card                 -16          NaN
4        Consumer credit                 -21          NaN
...                  ...                 ...          ...
1716423        Microloan                 -19          NaN
1716424  Consumer credit               -2493          NaN
1716425  Consumer credit                -967          NaN
1716426  Consumer credit               -1508          NaN
1716427        Microloan                -387          NaN

[1716428 rows x 17 columns]

In [15]:
# selecao de atributos por correlação - Spearman
print(df_bureau_balance.corr()) #pearson, kendall, spearman

                        SK_ID_CURR  SK_ID_BUREAU  DAYS_CREDIT  \
SK_ID_CURR                1.000000      0.000135     0.000266
SK_ID_BUREAU              0.000135      1.000000     0.013015
DAYS_CREDIT               0.000266      0.013015     1.000000
CREDIT_DAY_OVERDUE        0.000283     -0.002628    -0.027266
DAYS_CREDIT_ENDDATE       0.000456      0.009107     0.225682
DAYS_ENDDATE_FACT        -0.000648      0.017890     0.875359
AMT_CREDIT_MAX_OVERDUE    0.001329      0.002290    -0.014724
CNT_CREDIT_PROLONG       -0.000388     -0.000740    -0.030460
AMT_CREDIT_SUM            0.001179      0.007962     0.050883
AMT_CREDIT_SUM_DEBT      -0.000790      0.005732     0.135397
AMT_CREDIT_SUM_LIMIT     -0.000304     -0.003986     0.025140
AMT_CREDIT_SUM_OVERDUE   -0.000014     -0.000499    -0.000383
DAYS_CREDIT_UPDATE        0.000510      0.019398     0.688771
AMT_ANNUITY              -0.002727      0.001799     0.005676

                        CREDIT_DAY_OVERDUE  DAYS_CREDIT_ENDDATE  \
SK_ID_CURR                        0.000283             0.000456
SK_ID_BUREAU                     -0.002628             0.009107
DAYS_CREDIT                      -0.027266             0.225682
CREDIT_DAY_OVERDUE                1.000000            -0.007352
DAYS_CREDIT_ENDDATE              -0.007352             1.000000
DAYS_ENDDATE_FACT                -0.008637             0.248825
AMT_CREDIT_MAX_OVERDUE            0.001249             0.000577
CNT_CREDIT_PROLONG                0.002756             0.113683
AMT_CREDIT_SUM                   -0.003292             0.055424
AMT_CREDIT_SUM_DEBT              -0.002355             0.081298
AMT_CREDIT_SUM_LIMIT             -0.000345             0.095421
AMT_CREDIT_SUM_OVERDUE            0.090951             0.001077
DAYS_CREDIT_UPDATE               -0.018461             0.248525
AMT_ANNUITY                      -0.000339             0.000475

                        DAYS_ENDDATE_FACT  AMT_CREDIT_MAX_OVERDUE  \
SK_ID_CURR                      -0.000648                0.001329
SK_ID_BUREAU                     0.017890                0.002290
DAYS_CREDIT                      0.875359               -0.014724
CREDIT_DAY_OVERDUE              -0.008637                0.001249
DAYS_CREDIT_ENDDATE              0.248825                0.000577
DAYS_ENDDATE_FACT                1.000000                0.000999
AMT_CREDIT_MAX_OVERDUE           0.000999                1.000000
CNT_CREDIT_PROLONG               0.012017                0.001523
AMT_CREDIT_SUM                   0.059096                0.081663
AMT_CREDIT_SUM_DEBT              0.019609                0.014007
AMT_CREDIT_SUM_LIMIT             0.019476               -0.000112
AMT_CREDIT_SUM_OVERDUE          -0.000332                0.015036
DAYS_CREDIT_UPDATE               0.751294               -0.000749
AMT_ANNUITY                      0.006274                0.001578

                        CNT_CREDIT_PROLONG  AMT_CREDIT_SUM  \
SK_ID_CURR                       -0.000388        0.001179
SK_ID_BUREAU                     -0.000740        0.007962
DAYS_CREDIT                      -0.030460        0.050883
CREDIT_DAY_OVERDUE                0.002756       -0.003292
DAYS_CREDIT_ENDDATE               0.113683        0.055424
DAYS_ENDDATE_FACT                 0.012017        0.059096
AMT_CREDIT_MAX_OVERDUE            0.001523        0.081663
CNT_CREDIT_PROLONG                1.000000       -0.008345
AMT_CREDIT_SUM                   -0.008345        1.000000
AMT_CREDIT_SUM_DEBT              -0.001366        0.683419
AMT_CREDIT_SUM_LIMIT              0.073805        0.003756
AMT_CREDIT_SUM_OVERDUE            0.000002        0.006342
DAYS_CREDIT_UPDATE                0.017864        0.104629
AMT_ANNUITY                      -0.000465        0.049146

                        AMT_CREDIT_SUM_DEBT  AMT_CREDIT_SUM_LIMIT  \
SK_ID_CURR                        -0.000790             -0.000304
SK_ID_BUREAU                       0.005732             -0.003986
DAYS_CREDIT                        0.135397              0.025140
CREDIT_DAY_OVERDUE                -0.002355             -0.000345
DAYS_CREDIT_ENDDATE                0.081298              0.095421
DAYS_ENDDATE_FACT                  0.019609              0.019476
AMT_CREDIT_MAX_OVERDUE             0.014007             -0.000112
CNT_CREDIT_PROLONG                -0.001366              0.073805
AMT_CREDIT_SUM                     0.683419              0.003756
AMT_CREDIT_SUM_DEBT                1.000000             -0.018215
AMT_CREDIT_SUM_LIMIT              -0.018215              1.000000
AMT_CREDIT_SUM_OVERDUE             0.008046             -0.000687
DAYS_CREDIT_UPDATE                 0.141235              0.046028
AMT_ANNUITY                        0.025507              0.004392

                        AMT_CREDIT_SUM_OVERDUE  DAYS_CREDIT_UPDATE  \
SK_ID_CURR                           -0.000014            0.000510
SK_ID_BUREAU                         -0.000499            0.019398
DAYS_CREDIT                          -0.000383            0.688771
CREDIT_DAY_OVERDUE                    0.090951           -0.018461
DAYS_CREDIT_ENDDATE                   0.001077            0.248525
DAYS_ENDDATE_FACT                    -0.000332            0.751294
AMT_CREDIT_MAX_OVERDUE                0.015036           -0.000749
CNT_CREDIT_PROLONG                    0.000002            0.017864
AMT_CREDIT_SUM                        0.006342            0.104629
AMT_CREDIT_SUM_DEBT                   0.008046            0.141235
AMT_CREDIT_SUM_LIMIT                 -0.000687            0.046028
AMT_CREDIT_SUM_OVERDUE                1.000000            0.003528
DAYS_CREDIT_UPDATE                    0.003528            1.000000
AMT_ANNUITY                           0.000344            0.008418

                        AMT_ANNUITY
SK_ID_CURR                -0.002727
SK_ID_BUREAU               0.001799
DAYS_CREDIT                0.005676
CREDIT_DAY_OVERDUE        -0.000339
DAYS_CREDIT_ENDDATE        0.000475
DAYS_ENDDATE_FACT          0.006274
AMT_CREDIT_MAX_OVERDUE     0.001578
CNT_CREDIT_PROLONG        -0.000465
AMT_CREDIT_SUM             0.049146
AMT_CREDIT_SUM_DEBT        0.025507
AMT_CREDIT_SUM_LIMIT       0.004392
AMT_CREDIT_SUM_OVERDUE     0.000344
DAYS_CREDIT_UPDATE         0.008418
AMT_ANNUITY                1.000000

In [6]:
#join dos datasets 
df_first_join = pd.merge(df_bureau,df_bureau_balance,on='SK_ID_BUREAU', how='inner')
df_first_join.head()

# add line to save final dataframe in a dataset on /datasets/transformed/first_join

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,MONTHS_BALANCE,STATUS
0,380361,5715448,Active,currency 1,-820,0,31069.0,NaN,NaN,0,67500.0,0.0,67500.0,0.0,Credit card,-183,0.0,0,C
1,380361,5715448,Active,currency 1,-820,0,31069.0,NaN,NaN,0,67500.0,0.0,67500.0,0.0,Credit card,-183,0.0,-1,C
2,380361,5715448,Active,currency 1,-820,0,31069.0,NaN,NaN,0,67500.0,0.0,67500.0,0.0,Credit card,-183,0.0,-2,C
3,380361,5715448,Active,currency 1,-820,0,31069.0,NaN,NaN,0,67500.0,0.0,67500.0,0.0,Credit card,-183,0.0,-3,C
4,380361,5715448,Active,currency 1,-820,0,31069.0,NaN,NaN,0,67500.0,0.0,67500.0,0.0,Credit card,-183,0.0,-4,C